body {
    background: #06010a;
    color: #ffffff;
    font-family: "Courier New";
    background-image: url("images/sparkle.png");
    background-size: 15%;
}

.main {
    background: #000000;
    border: 3px solid #ffffff;
    border-radius: 10px;
    margin: 3%;
    text-align: center;
    padding-bottom: 2%;
}

p {
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
}

a {
    color: #ffffff;
}

a:hover {
    color: #999999;
}

.banner {
    width: 98%;
}

.justify {
    margin-bottom: 2%;
    height: 300px;
    width: auto;
}

.comic {
    margin-bottom: 2%;
    height: 400px;
    width: auto;
}

.project {
    margin: auto;
    padding: 2%;
    width: 60%;
    text-align: center;
    column-count: 2;
    font-size: 18px;
}

.button {
    background: #000000;
    border: 3px solid #ffffff;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    padding: 3%;
}

.centerelement {
    margin: auto;
    width: 200px;
}